<%- include('partials/header') %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/FactSmash"><i class="fas fa-book fa-1x"></i> FactSmash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/submit">Submit a Fact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout"></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Leave/Logout</a>
            </li>
          </ul>
        </div>
      </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, World!</h1>
          <p>I'm so glad you found my website!</p>
          <p>I created this website when I saw a post on a web forum. Someone made a post, that it would be awesome if there would exist a website with disproved and most commonly misbelieved facts. </p>
          <p>That was just about when I was self-learning the MERN stack for web development and thought that this would be a great first project for someone like me. </p>
          <p>This gorgeous frontend is done with Bootstrap, because I was primarily focused on really understanding the backend with this project. Backend is entirely made up of Node.js. For the database I used MongoDB, which is actually quite awesome. </p>
          <p>Anyway, feel free to add some new facts or perhaps just browse through the collection! :) </p>
        </div>
      </div>

        <hr>

      </div> <!-- /container -->

    </main>





<%- include('partials/footer') %>